
*{
	 margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Celulares Moto G*/
@media (max-width:  320.97em) {
    body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        min-height: 9000em;
    }

    #header{
        width:360em;
        position: relative;
        left:-1.7em;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);

    }


    #img-logo-mobile{
        max-width:300em;
        max-height: 70em;
        position: relative;
        left:1em;
    }

    #img-logo-desktop{
        display:none;
    }


    #user-logado{
        position:relative;
        left:10%;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:0.5em;

    }

    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:0em;
        font-size: 1em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-1.5em;
    }


    #pesquisa{

         max-height: 70em;

    }

    #barra-pesquisa{
        min-width: 300em;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 45%;
        top:-2.3em;
        display: none;
    }

    #limpar-pesquisa{
        position: relative;
        left: 5%;
        top:0.1em;
        display:none;
    }



   

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;

         max-width: 100%;
         position: relative;
        left:2em;

    }

   


    .text-decoration-none{
          text-decoration: none;
    }

    #dashboard-estoque{
        margin-top:2em;
    }

    #area-btn-editar-deletar{
        display:inline;
    }

    #editar{
        position:relative;
        left:-2em;
        top:2em;
    }

    #form-deletar{
        position:relative;
        top:-0.5em;
        left:2em;
    }






    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }

}







@media (min-width:  321.00em) and (max-width:360.98em) {
     body{

        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        min-height: 9000em;
    }


    #header{
        width:360em;
        position: relative;
        left:-1em;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
    }

    #img-logo-mobile{
        max-width:300em;
        max-height: 70em;
        position: relative;
        left:1em;
    }

    #img-logo-desktop{
        display:none;
    }

    #user-logado{
        position:relative;
        left:10%;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:0.5em;
        left:2em;

    }

    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:0em;
        font-size: 1em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-1em;
    }


    #pesquisa{

         max-height: 70em;

    }

    #barra-pesquisa{
        min-width: 310em;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 50%;
        top:-2.3em;
        display: none;
    }


   

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
        border:1em solid red;
         max-width: 100%;
         position: relative;
        left:2em;

    }

   


    .text-decoration-none{
          text-decoration: none;
    }

    #dashboard-estoque{
        margin-top:2em;
    }

    #area-btn-editar-deletar{
        display:inline;
    }

    #editar{
        position:relative;
        left:-2em;
        top:2em;
    }

    #form-deletar{
        position:relative;
        top:-0.5em;
        left:2em;
    }






    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }

}

/* Celulares Médio*/
@media (min-width: 361em) and (max-width:  375.97em) {
    body{


        margin: 0 ;
        padding: 0;

         overflow-x: hidden;
          font-family:Noto Sans, sans-serif;



         background: lavender;

        min-height: 9000em;


    }

   



    #header{
		width:425em;
		position: relative;
		left:-1.5em;
		background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
	}

	#img-logo-mobile{
        max-width:300em;
        max-height: 70em;
        position: relative;
        left:1em;
    }

    #img-logo-desktop{
        display:none;
    }

     #user-logado{
        position:relative;
        left:10%;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:0.5em;
        left:2em;

    }


    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:0em;
        font-size: 1em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-1em;
    }


    #pesquisa{

         max-height: 70em;

    }

    #barra-pesquisa{
        min-width: 310em;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 50%;
        top:-2.3em;
        display: none;
    }



   

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
        border:1em solid red;
         max-width: 100%;
         position: relative;
        left:2em;

    }

   


    .text-decoration-none{
          text-decoration: none;
    }


    #dashboard-estoque{
        margin-top:2em;
    }

    #area-btn-editar-deletar{
        display:inline;
    }

    #editar{
        position:relative;
        left:-2em;
        top:2em;
    }

    #form-deletar{
        position:relative;
        top:-0.5em;
        left:3.5em;
    }


    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }

}




/* Celulares até 5,5 Polegadas Tamanho G */
@media (min-width: 376em) and (max-width:  428.98em) {
	body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        min-height: 9000em;
    }

   



    #header{
		width:425em;
		position: relative;
		left:-1.5em;
		background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
	}

	#img-logo-mobile{
        max-width:300em;
        max-height: 70em;
        position: relative;
        left:1em;
    }

    #img-logo-desktop{
        display:none;
    }

     #user-logado{
        position:relative;
        left:10%;
    }

    #btn-page-anunciante{
        display:block;
        max-width:250em;
        position:relative;
        top:0.5em;
        left:2em;

    }


    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:0em;
        font-size: 1.2em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-0.5em;
    }


    #pesquisa{

         max-height: 70em;

    }

    #barra-pesquisa{
        min-width: 310em;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 50%;
        top:-2.3em;
        display: none;
    }

    
    
    .text-decoration-none{
          text-decoration: none;
    }

    #dashboard-estoque{
        margin-top:2em;
    }

    #area-btn-editar-deletar{
        display:inline;
    }

    #editar{
        position:relative;
        left:-2em;
        top:2em;
    }

    #form-deletar{
        position:relative;
        top:-0.5em;
        left:6em;
    }



    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }
}


/* Tablet Menor */
@media (min-width: 429.00em) and (max-width: 767.97em) {
    body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background:lavender;
        min-height: 9000em;
    }

   #header{
		width:120%;
		height:140em;
		position: relative;
		left:-1.5em;
		background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
	}

	#conteudo-header{
	    position:relative;
	    top:-2em;
	}

	#img-logo-mobile{
        max-width:300em;
        max-height: 100em;
        position: relative;
        left:1em;
        top:3em;
    }

    #img-logo-desktop{
        display:none;
    }

     #user-logado{
        position:relative;
        left:5em;
        top:3em;
        font-size:1.2em;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:-3.5em;
        left:45%;

    }





    #retorno-leads{
        position:relative;
        left:50%;
    }

    #data-hora-header{
        max-width: 90%;
        position: relative;
        left:1em;
        font-size: 1.7em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-0.5em;
    }


    #pesquisa{

         max-height: 100%;

    }

    #barra-pesquisa{
        min-width: 85%;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }

    #limpar-pesquisa{
        position:relative;
        left:5%;
    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 75%;
        top:-2.2em;
        display: none;
    }



   

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
        border:1em solid red;
         max-width: 100%;
         position: relative;
        left:2em;

    }

   


    .text-decoration-none{
          text-decoration: none;
    }

    #area-btn-editar-deletar{
        display:inline;
    }

    #editar{
        position:relative;
        left:-2em;
        top:2em;
    }

    #form-deletar{
        position:relative;
        top:-0.5em;
        left:3.5em;
    }






    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }
}
/*Tablet G */
@media (min-width: 768em) and (max-width:  1023.98em) {
     body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: red;
        min-height: 9000em;
    }


   #header{
		width:120%;
		position: relative;
		left:-1.5em;
		background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
	}

	#img-logo-mobile{
        max-width:300em;
        max-height: 100em;
        position: relative;
        left:1em;
        top:3em;
    }

    #img-logo-desktop{
        display:none;
    }

     #user-logado{
        position:relative;
        left:-30em;
        top:3em;
        font-size:1.2em;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:-3.5em;
        left:45%;

    }

    #retorno-leads{
        position:relative;
        left:50%;
    }

    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:20%;
        font-size: 1.7em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-0.5em;
    }


    #pesquisa{

         max-height: 100%;

    }

    #barra-pesquisa{
        min-width: 100%;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 70%;
        top:-2em;
        display: none;
    }



   

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
        border:1em solid red;
         max-width: 100%;
         position: relative;
        left:2em;

    }

   


    .text-decoration-none{
          text-decoration: none;
    }

    #area-btn-editar-deletar{
        display:inline;
    }

    #editar{
        position:relative;
        left:-2em;
        top:2em;
    }

    #form-deletar{
        position:relative;
        top:-0.5em;
        left:3.5em;
    }




    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }
}

/*Tablet G */
@media (min-width: 768.00em) and (max-width:  1024.98em) {
    body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        min-height: 9000em;
    }




    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:20%;
        font-size: 1.7em;
        font-weight: 600;
        white-space: nowrap;
    }

    #user-logado{
        position:relative;
        left:10%;

    }

    #btn-dashboard{
        position:relative;
        top:-5em;
    }



    #retorno-leads{
        position:relative;
        left:0%;
    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-0.5em;
    }


    #pesquisa{
         max-height: 70em;
    }

    #barra-pesquisa{
        min-width: 310em;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;
        min-height: 40em;
        z-index: 0;
        font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 80%;
        top:-2.3em;
        display: none;
    }


    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
        border:1em solid red;
         max-width: 100%;
         position: relative;
        left:2em;

    }

   


    .text-decoration-none{
          text-decoration: none;
    }

    #info-veiculo-estoque{
        font-size: 1.7em;
    }






    footer{
        position: relative;
        left:0em;
        top:9000em;
        text-align: center;
        color:black;

    }

}

/* Laptop */
@media (min-width: 1025.00em) and (max-width:  1439.98em) {
     body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        max-height: 9000em;

    }

   #header{
		width:120%;
		max-height:100em;
		position: relative;
		left:-1.5em;
		background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
	}

    #conteudo-header{
        position:relative;
        top:-2.5em;
    }

	#img-logo-mobile{
        display:none;
    }

    #img-logo-desktop{
        max-width:300em;
        max-height: 100em;
        position: relative;
        left:1em;
        top:3em;

    }

     #user-logado{
        position:relative;
        left:3%;
        top:3em;
        font-size:1.2em;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:-4em;
        left:60%;
        font-weight:bold;
        color:white;

    }


    #retorno-leads{
        position:relative;
        left:80%;
    }


    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:30%;
        font-size: 1.7em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:-0.5em;
    }


    #pesquisa{

         max-height: 100%;

    }

    #limpar-pesquisa{
        position:relative;
        left:2%;
    }

    #barra-pesquisa{
        min-width: 70%;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }

    

    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 5%;
        top:0em;
        display: none;
    }

    

    .text-decoration-none{
          text-decoration: none;
    }




    .carousel{
        max-width: 30%;
        padding: 1em;
       
    }

    #info-veiculo-estoque{
        position:absolute;
        left:30%;
        top:0em;
        font-size: 0.8em;
        max-height:24em;
        min-width:70em;
    }

    .botao-copiar{
        position: relative;
        left:0em;
        top:0em;

    }



    #link-acesso-lp{
        position:absolute;
        top:5em;
        left:50%;

    }

    #area-btn-editar-deletar{
        position: absolute;
        top:14em;
        left: 45%;
    }

    hr{
        display: none;
    }

    .veiculo-estoque{
        max-height:27em;
    }

    #form-deletar{
        display:inline;
    }








    footer{
        position: absolute;
        left:40%;
        top:9000em;
        text-align: center;
        color:black;

    }



}


/* LaptopG */
@media (min-width: 1400.00em) and (max-width:  2560.98em) {
     body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        max-height: 9000em;

    }

    .container-fluid{
        min-width:2000em
    }

    #header{
		width:120%;
		max-height:100em;
		position: relative;
		left:-1.5em;
		background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,0,255,1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8000ff",GradientType=1);
	}

    #conteudo-header{
        position:relative;
        top:-2.5em;
    }

	#img-logo-mobile{
        display:none;
    }

    #img-logo-desktop{
        max-width:300em;
        max-height: 100em;
        position: relative;
        left:1em;
        top:3em;

    }

     #user-logado{
        position:relative;
        left:3%;
        top:3em;
        font-size:1.2em;
    }

    #btn-dashboard{
        display:block;
        max-width:250em;
        position:relative;
        top:-4em;
        left:60%;
        font-weight:bold;
        color:white;

    }








    #retorno-leads{
        position:relative;
        left:80%;
    }

    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:50%;
        font-size: 1.7em;
        font-weight: 600;
        white-space: nowrap;
    }


    #navegacao{
        min-width: 100%;
        position: relative;
        left:10%;
    }


     #pesquisa{

         max-height: 100%;

    }

    #limpar-pesquisa{
        position:relative;
        left:2%;
    }

    #barra-pesquisa{
        min-width: 70%;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }



    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 5%;
        top:0em;
        display: none;
    }
    .form-control{
        border:1em solid black;
    }



    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 5%;
        top:0em;
        display: none;
    }



    .text-decoration-none{
          text-decoration: none;
    }

    #dashboard-estoque{
        position:relative;
        left:10%;
    }

    #display-estoque{
        max-height: 28em;
    }


    .carousel{
        max-width: 30%;
        padding: 1em;

    }

    #img-display-veiculo-estoque{

    }

    #info-veiculo-estoque{
        position:absolute;
        left:35%;
        top:0em;
        font-size: 0.8em;
        max-height:24em;
        min-width:70em;
    }

    .botao-copiar{
        position: relative;
        left:0em;
        top:0em;

    }



    #link-acesso-lp{
        position:absolute;
        top:5em;
        left:50%;

    }

    #area-btn-editar-deletar{
        position: absolute;
        top:14em;
        left: 45%;
    }

    hr{
        display: none;
    }

    .veiculo-estoque{
        max-height:30em;
        width:90%;
    }

    #form-deletar{
        display:inline;
    }


    footer{
        position: absolute;
        left:40%;
        top:9000em;
        text-align: center;
        color:black;

    }
}


/* Telas Wide Screen */
@media (min-width: 2559.00em){
   body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        max-height: 9000em;
        max-width:2000em

    }


    #header{
        width:110%;
       background:#000000;
        position: relative;
        left:-2em;
    }

    #img-logo{
        max-width:300em;
        max-height: 70em;
        position: relative;
        left:1.5em;
    }

    #data-hora-header{
        max-width: 100%;
        position: relative;
        left:50%;
        font-size: 1.7em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        max-width: 100%;
        position: relative;
        left:10%;
    }


    #pesquisa{

         max-height: 70em;

    }

    #barra-pesquisa{
        min-width: 310em;
        padding-left:0.5em;
        position: relative;
        left:0.3em;
        top:0em;

        min-height: 40em;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1em solid black;
    }



    #btn-pesquisar{
        font-size:1.5em;
        padding:0.5em;
        line-height: 0.5em;
        position: relative;
        left: 80%;
        top:-1.5em;
        display: none;
    }



    .text-decoration-none{
          text-decoration: none;
    }

    #display-estoque{
        max-height: 28em;
    }

    #info-veiculo-estoque{
        font-size: 0.8em;
    }

    .carousel{
        max-width: 30%;
        padding: 1em;

    }

   #info-veiculo-estoque{
        position:absolute;
        left:35%;
        top:0em;
        font-size: 1.5em;
        max-height:24em;
        min-width:70em;
    }

    .botao-copiar{
        position: relative;
        left:0em;
        top:0em;

    }



    #link-acesso-lp{
        position:absolute;
        top:5em;
        left:30%;

    }

    #area-btn-editar-deletar{
        position: absolute;
        top:12em;
        left: 28%;
    }


    hr{
        display: none;
    }

    .img{
        max-height:35em;
    }

     .veiculo-estoque{
        max-height:27em;
    }

    #form-deletar{
        display:inline;
    }


    footer{
        position: absolute;
        left:40%;
        top:9000em;
        text-align: center;
        color:black;

    }



}

